<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/silverstripe/cms/tests/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="Default">
			<directory>vendor/silverstripe/blog/tests</directory>
			<directory>vendor/silverstripe/lumberjack/tests</directory>
			<directory>vendor/silverstripe/widgets/tests</directory>
			<directory>vendor/silverstripe/content-widget/tests</directory>
			<directory>vendor/silverstripe/spamprotection/tests</directory>
			<directory>vendor/silverstripe/akismet/tests</directory>
			<directory>vendor/silverstripe/comments/tests</directory>
			<directory>vendor/silverstripe/comment-notifications/tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
