<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/silverstripe/cms/tests/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="Default">
			<directory>vendor/silverstripe/blog/tests</directory>
			<directory>vendor/silverstripe/lumberjack/tests</directory>
			<directory>vendor/silverstripe/spamprotection/tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
